.homeP{
    min-height: 100vh;
}
.imgcontent{
    
    background-size: cover;
    
    
}
.contentP{
    padding-top: 150px;
}
.fwh{
    font-size: 70px;
}
.spanicon:hover{
    box-shadow: 5px 5px 5px 1px black;
    background-color: rgba(134, 133, 133, 0.385);
    transition: 700ms;
}
