.homeP{
    min-height: 100vh;
    background-color:#30416e;
    
    background-image: url("https://i.pinimg.com/564x/39/e6/d4/39e6d4c4f0572317e8a6c123e5d21015.jpg");
    background-repeat: no-repeat;


}
.imgcontent{
    
    background-size: cover;
    
    
}
.contentP{
    padding-top: 150px;
}
.fwh{
    font-size: 70px;
}